<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcy.imagelib">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name="com.zcy.imagelib.App"
        android:allowBackup="true"
        android:icon="@drawable/pic_dir">
        <activity
            android:name="com.zcy.imagelib.HostActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zcy.imagelib.ui.PicSelectActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.zcy.imagelib.camera.CameraActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.zcy.imagelib.ui.ImageBrowserActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.zcy.imagelib.crop.CropPhotoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.zcy.imagelib.crop.ClipPictureActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
